*.o
.dep.inc

MarlinTestApp/MarlinBinaryTestApp.TEMPBUFFER

MarlinTestApp/MarlinBinaryTestApp

MarlinTestApp/MarlinBinaryTestApp.MARLIN

MarlinTestApp/stkerr@pod1-1.cs.purdue.edu

dist/Debug/GNU-MacOSX/marlinbinaryprocessor
/build/Debug/
DynamicMarlin/patch.cpp

DynamicMarlin/symbols.S

DynamicMarlin/symbols.cpp

MarlinTestApp/a.out

MarlinTestApp/inifite.c

MarlinTestApp/symbols.S

patch.cpp

symbols.cpp

test

DynamicMarlin/code.S

DynamicMarlin/CustomMarlinizer

DynamicMarlin/a.out

DynamicMarlin/main.cpp

DynamicMarlin/jumppatching.h

DynamicMarlin/text_symbols.h

Apps/*

DynamicMarlin/h.S

DynamicMarlin/hm.S

DynamicMarlin/patchlist.txt

DynamicMarlin/stkerr@pod1-1.cs.purdue.edu

DynamicMarlin/symbollist.txt
